<a href="https://colab.research.google.com/github/ToluSh/Classwork/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
import pandas as pd

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, 'np.nan', 9, 20, 14.5, 'np.nan', 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
'labels' : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']}

exam_data_df = pd.DataFrame(exam_data) #to obtain dictionary on dataframe datasructure
exam_data_index = exam_data_df.set_index('labels') #to set index to labels
print(exam_data_index)

exam_data_getrows = exam_data_index.head() #to obtain 5 rows
exam_data_rows = exam_data_getrows[0:3] #to obtain 3 rows
print(exam_data_rows)


exam_data_nonnanscores = exam_data_index.drop(['d','h'], axis = 0) #to drop rows with np.nan score
print(exam_data_nonnanscores)

exam_data_extract = exam_data_nonnanscores.iloc[:,0:2] #to extract new columns
print(exam_data_extract)

exam_data2 = {'name': ['Suresh'], 'score': [15.5], 'attempts': [1], 'qualify': ['yes']} #to add new data
exam_data_index2 = pd.DataFrame(exam_data2)
new_exam_data_index = pd.concat([exam_data_nonnanscores, exam_data_index2], axis = 0) #to concatenate 2 dataframes
#new_exam_data_index = new_exam_data_index.set_index('labels') #to set index to labels
print(new_exam_data_index)

exam_data_remove = new_exam_data_index.drop('attempts', axis ='columns')
print(exam_data_remove)

z = new_exam_data_index['score']
Success = list() #to create a list for Success column

for element in z:
    if element > 10:
        Success.append(1) #to append 1 or 0 into Success
    else:
        Success.append(0) 

exam_data_index3 = pd.Series(Success) #to create column
new_exam_data_index3 = pd.DataFrame(exam_data_index3)
new_exam_data_index3 = new_exam_data_index3.rename(columns = {0: 'Success'})
new_exam_data_index4 = pd.concat([new_exam_data_index, new_exam_data_index3], axis = 1) #to concatenate Success column to existing dataframe datastructure
print(new_exam_data_index4)


new_exam_data_index4.to_csv("my_data.csv")
new_data = pd.read_csv("my_data.csv")

             name   score  attempts qualify
labels
a       Anastasia    12.5         1     yes
b            Dima       9         3      no
c       Katherine    16.5         2     yes
d           James  np.nan         3      no
e           Emily       9         2      no
f         Michael      20         3     yes
g         Matthew    14.5         1     yes
h           Laura  np.nan         1      no
i           Kevin       8         2      no
j           Jonas      19         1     yes
             name score  attempts qualify
labels
a       Anastasia  12.5         1     yes
b            Dima     9         3      no
c       Katherine  16.5         2     yes
             name score  attempts qualify
labels
a       Anastasia  12.5         1     yes
b            Dima     9         3      no
c       Katherine  16.5         2     yes
e           Emily     9         2      no
f         Michael    20         3     yes
g         Matthew  14.5         1     yes
i           Kevin     8         2      no
j           Jonas    19         1     yes
             name score
labels
a       Anastasia  12.5
b            Dima     9
c       Katherine  16.5
e           Emily     9
f         Michael    20
g         Matthew  14.5
i           Kevin     8
j           Jonas    19
        name score  attempts qualify
a  Anastasia  12.5         1     yes
b       Dima     9         3      no
c  Katherine  16.5         2     yes
e      Emily     9         2      no
f    Michael    20         3     yes
g    Matthew  14.5         1     yes
i      Kevin     8         2      no
j      Jonas    19         1     yes
0     Suresh  15.5         1     yes
        name score qualify
a  Anastasia  12.5     yes
b       Dima     9      no
c  Katherine  16.5     yes
e      Emily     9      no
f    Michael    20     yes
g    Matthew  14.5     yes
i      Kevin     8      no
j      Jonas    19     yes
0     Suresh  15.5     yes
        name score  attempts qualify  Success
0     Suresh  15.5       1.0     yes      1.0
1        NaN   NaN       NaN     NaN      0.0
2        NaN   NaN       NaN     NaN      1.0
3        NaN   NaN       NaN     NaN      0.0
4        NaN   NaN       NaN     NaN      1.0
5        NaN   NaN       NaN     NaN      1.0
6        NaN   NaN       NaN     NaN      0.0
7        NaN   NaN       NaN     NaN      1.0
8        NaN   NaN       NaN     NaN      1.0
a  Anastasia  12.5       1.0     yes      NaN
b       Dima     9       3.0      no      NaN
c  Katherine  16.5       2.0     yes      NaN
e      Emily     9       2.0      no      NaN
f    Michael    20       3.0     yes      NaN
g    Matthew  14.5       1.0     yes      NaN
i      Kevin     8       2.0      no      NaN
j      Jonas    19       1.0     yes      NaN